body {
    font-family: 'Roboto Slab', serif !important;
}

h1, h6, p {
    text-align: center;
}

h1 {
    font-size: 3.5rem !important;
    margin-top: 0.5rem !important;
}

.p_number_result {
    margin-top: 3rem;
}

tr#rowBody:last-child td:first-child {
    border-bottom-left-radius: 2rem;
}

tr#rowBody:last-child td:last-child {
    border-bottom-right-radius: 2rem;
}

tr#rowHeader:last-child td {
    background-color: darkgray;
}

.custom-color-text{
    color: darkgray;
}

.custom-caption {
    background-color: black;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
}

div#custom-section {
    background-color: #FFFFFF;
}

svg{
    vertical-align: -0.125rem !important;
}